/********* Reset ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
  gap: 10px;
  margin-inline: 10px;
  margin-block: 10px;
}

/********* Menu ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5bebc;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 40px;
}
.header {
  color: #503120;
  float: left;
}
.logo {
  width: 100px;
}

.menu_long {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_long li {
  margin-right: 20px;
}

.menu_long li:last-child {
  margin-right: 0;
}

.menu_long a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu_long a:hover {
  color: #558e55;
}

.menu_short {
  display: none;
}
footer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5bebc;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 40px;
}

h1 {
  text-align: center;
  margin-block: 10px;
}

/********* Index ***********/

/********* Projects ***********/
[popover] {
  margin: auto;
}
[popover] img {
  max-width: 600px;
}

/********* ABout me ***********/
.grid-aboutme_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-inline: 10px;
  margin-block: 10px;
}
@media (max-width: 1200px) {
  .menu_short {
    display: block;
  }
  .menu_long {
    display: none;
  }
}
