/********* Reset ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
  gap: 10px;
  margin-inline: 10px;
  margin-block: 10px;
}

/********* Menu ***********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5bebc;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 40px;
  z-index: 1000;
}

.logo {
  width: 100px;
}

.logo img {
  background-color: #503120;
  border-radius: 25px;
  padding: 3px;
}

.desktop {
  margin-left: auto;
  margin-right: 40px;
}

.mobile_nav {
  display: none;
}

.logo {
  width: 100px;
}

.menu_long {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_long li {
  margin-right: 20px;
}

.menu_long li:last-child {
  margin-right: 0;
}

.menu_long a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.menu_long a:hover {
  color: #503120;
}

footer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5bebc;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 40px;
}
.footer_nav {
  margin-left: auto;
  margin-right: 40px;
}

.footer_menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}
.footer_menu a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .menu_long {
    display: none;
  }

  .footer_menu {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
/********* ABout me ***********/
